<?xml version="1.0" ?>

<launch>
	<rosparam command="load" file="$(find lee_controller)/conf/iris_param.yaml" />
	<node pkg="tskf_estimator" name="tskf_estimator" type="tskf_estimator" output="screen"/>
	
</launch>

<!--<node name = "PlotJuggler" pkg = "plotjuggler" type = "plotjuggler" output = "screen" args = "layout $(find tskf_estimator)/conf/layout_iris.xml" />-->